h5 {
	text-align: center;
	font-style: italic;
}

h1, h2, ul, p{
	text-align: center;
}

.section {
	margin: 50px;
}


li {
	display: inline;
	padding: 17px;
}

.row {
	margin-left: -15px;
	margin-right: -15px;
}

.thumbnails {
	text-align: center;
}


.thumbnails img {
	margin: 0 auto;
}

.line {
	margin-top: 5px;
	border-bottom: dashed 1px #000;
}


.icon {
	display: inline-block;
	text-align: center;
	padding: 10px;
}

.icons {
	text-align: center;
}

.form-horizontal {
	margin-left: -150px;
}